h1{
  color: rgb(25,96,178);
}

p{
  color: black;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* css propios */
.page-settings{
  background-color: rgba(255, 255, 255, 1);
}

.navbar-settings{
  height: 50px;
  /*background-color: rgb(91,155,213);*/
}

.button-settings{
  /*background-color: rgb(91,155,213);*/
  height: 30px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 2.5);
  margin-left: 1rem;
}

.button-small{
  width: 100px;
}

.hide-overflow{
  overflow: hidden;
}
/* css modificados */
.navbar-brand{
  color: white;
}

.auto-width{
  height: 100%;
  width: auto;
}

.form-small{
  min-width: 325px;
  max-width: 500px;
}

.col-small{
  width: 175px;
}

.carousel-config{
  max-height: 400px;
  display:flex;
  align-items:center;
}

.card-config{
  border: none;
}
